/*+++++BASE+++++*/
* {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  font-family: monospace, sans-serif;
}

/*+++++NAVIGATION+++++*/
.navbar {
  margin-bottom: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}

#first-list-element {
   color: yellow;
}

.list-element {
  color: green;
}

.list-element:focus {
  cursor: pointer;
  background-color: red;
}

.lista-dobra li:last-child {
  background-color: blue;
}
p::first-letter {
  color: pink;
  font-size: 300%;
}

/*+++++JUMBOTRON+++++*/
.jumbotron {
  width: 50vw;
  margin: 0 auto;
  padding: 15px;
  background-color: lightslategray;
  border: 2px solid black;
  font-size: 25px;
}
.jumbotron h1 {
  margin-bottom: 15px;
  font-size: 200%;
}

input[type=text] {
  height: 300px;
}
h2 ~ p {
  color: yellow;
}
